<div>
  <div class="main-content">
    <div class="primary-content">
      <app-user-info></app-user-info>
    </div>
    <div class="secondary-content">
      <h2>Quick links</h2>
      <div class="container-cards">
        <app-main-cards [href]="'#projects-section'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#65B741'"
          [cardTitle]="'Personal projects'"
          [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'"></app-main-cards>
        <app-main-cards [href]="'#photo-gallery'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#FC6736'"
          [cardTitle]="'Photo gallery'"
          [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'"></app-main-cards>
        <app-main-cards [href]="'#written-content'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#FF004D'"
          [cardTitle]="'Written content'"
          [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'"></app-main-cards>
      </div>
    </div>
  </div>
  <app-sections [tittleContent]="'I have web app projects and more...'" [background]="'#F2EFE5'" id="projects-section">
    <div class="container-cards">
      <app-main-cards [href]="'#projects-section'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#65B741'"
        [cardTitle]="'Personal projects'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'">
        <span class="proj-repo-style"><a href="#">project repository</a></span>
      </app-main-cards>
      <app-main-cards [href]="'#projects-section'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#65B741'"
        [cardTitle]="'Personal projects'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'">
        <span class="proj-repo-style"><a href="#">project repository</a></span>
      </app-main-cards>
      <app-main-cards [href]="'#projects-section'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#65B741'"
        [cardTitle]="'Personal projects'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'">
        <span class="proj-repo-style"><a href="#">project repository</a></span>
      </app-main-cards>
      <app-main-cards [href]="'#projects-section'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#65B741'"
        [cardTitle]="'Personal projects'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'">
        <span class="proj-repo-style"><a href="#">project repository</a></span>
      </app-main-cards>
      <app-main-cards [href]="'#projects-section'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#65B741'"
        [cardTitle]="'Personal projects'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'">
        <span class="proj-repo-style"><a href="#">project repository</a></span>
      </app-main-cards>
    </div>
  </app-sections>
  <app-sections [tittleContent]="'These are my favorite photos'" [background]="'#F1EB90'" id="photo-gallery">
    <div class="container-cards">
      <app-main-cards [href]="'#photo-gallery'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#FC6736'"
        [cardTitle]="'Photo gallery'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'"></app-main-cards>

      <app-main-cards [href]="'#photo-gallery'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#FC6736'"
        [cardTitle]="'Photo gallery'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'"></app-main-cards>

      <app-main-cards [href]="'#photo-gallery'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#FC6736'"
        [cardTitle]="'Photo gallery'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'"></app-main-cards>

      <app-main-cards [href]="'#photo-gallery'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#FC6736'"
        [cardTitle]="'Photo gallery'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'"></app-main-cards>

    </div>
  </app-sections>
  <app-sections [tittleContent]="'And this is my texts, about travels, philosophy and more.'" [background]="'#F1EAFF'"
    id="written-content">
    <div class="container-cards">
      <app-main-cards [href]="'#written-content'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#FF004D'"
        [cardTitle]="'Written content'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'"></app-main-cards>
      <app-main-cards [href]="'#written-content'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#FF004D'"
        [cardTitle]="'Written content'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'"></app-main-cards>
      <app-main-cards [href]="'#written-content'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#FF004D'"
        [cardTitle]="'Written content'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'"></app-main-cards>
      <app-main-cards [href]="'#written-content'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#FF004D'"
        [cardTitle]="'Written content'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'"></app-main-cards>
      <app-main-cards [href]="'#written-content'" [cardImg]="'../favicon.ico'" [backgroundColor]="'#FF004D'"
        [cardTitle]="'Written content'"
        [cardInfo]="'Informations about this card for my personal blog. This is a main card of my page, click here to redirect.'"></app-main-cards>

    </div>
  </app-sections>
</div>