<div class="user-main-content">
    <div class="photo">
        <img src="https://i.pinimg.com/originals/36/84/29/368429cd6b25322a48c0f25aec4e8295.jpg" alt="">
        <h1>Hello, i'm Matheus!</h1>
    </div>
    <div class="personal-info">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni officia iure temporibus enim, dolore quaerat
            laudantium ullam. Quos tempora porro fugit! Accusantium facere nisi minus quas, quisquam illum quis ducimus.
        </p>
    </div>
    <div class="contact-me">
        <div>
            <h2>Contact-me</h2>
        </div>
        <ul>
            <li id="linkedin-link"><a href="#">LinkedIn</a></li>
            <li id="email-link"><a href="#">Email</a></li>
            <li id="insta-link"><a href="#">Instagram</a></li>
        </ul>
    </div>
</div>